.navbar.navbar-default.nav__colors(role='navigation', ng-controller='NavCtrl')
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.animated.lightSpeedIn(href='/') PhatRunner

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right(ng-hide='email')
        li: a.outline-inward(href='/#/') Home
        li: a.outline-inward(href='/#/register') Register
        li: a.outline-inward(href='/#/login') Login
      ul.nav.navbar-nav.navbar-right(ng-show='email')
        li: a.outline-inward(href='/#/') Home
        li: a.outline-inward(href='/#/goals') My Goals
        li: a.outline-inward-log(href='/#/logout') {{email}}

