.row: h3.animated.fadeInDown {{goalEdit.name}}
.row
  .col-xs-6.border.spread
    h3 Today's Intake
    form.animated.fadeInUp(role='form', novalidate, name='foodForm')
      .form-group
        label(for='name') What did you eat today?
        input.form-control#food(type='text', name='name', ng-model='food.name', autofocus, required)
      .form-group
        label(for='calories') How many calories did that have?
        input.form-control#cal(type='number', name='calories', ng-model='food.calories', required)
      button.btn.btn-primary.animated.flipInY.full(ng-show='foodForm.$valid', ng-click='addFood()') Add Food

    table.table.table-bordered
      thead
        tr
          th Food
          th Calories
      tbody
        tr(ng-repeat='food in foods')
          td {{food.name}}
          td {{food.calories}}

  .col-xs-6.border
    h3 Today's Runs/Walks
    form.animated.fadeInUp(role='form', novalidate, name='activityForm')
      .form-group
        label(for='miles') Add Run/Walk
        input.form-control#miles(type='number', name='exercise', ng-model='exercise.miles', required)
        label(for='miles') Time
        input.form-control#time(type='number', name='exercise', ng-model='exercise.time', required)
      button.btn.btn-primary.animated.flipInY.full(ng-show='activityForm.$valid', ng-click='addRun()') Add Run
      button.btn.btn-primary.animated.flipInY.full(ng-show='activityForm.$valid', ng-click='addWalk()') Add Walk


    h3 Running
    table.table.table-bordered(ng-show='runs')
      thead
        tr
          th Time (minutes)
          th Miles Ran
      tbody
        tr(ng-repeat='r in runs')
          td {{(r.time || 0) + ' Minutes' || ''}}
          td {{r.miles + ' Miles'}}
    h3 Walking
    table.table.table-bordered(ng-show='walks')
      thead
        tr
          th Time (minutes)
          th Miles Walked
      tbody
        tr(ng-repeat='w in walks')
          td {{(w.time || 0) + ' Minutes' || ''}}
          td {{w.miles + ' Miles'}}

