h3 Register

.row
  .col-xs-3
    form(role='form', novalidate, name='userForm')
      .form-group
        label.animated.fadeIn(for='name') Name
        input.form-control.animated.fadeInLeft#name(type='text', name='name', ng-model='user.name', required, ng-minlength='3', autofocus, )
      .form-group
        label.animted.fadeIn(for='email') Email
        input.form-control.animated.fadeInRight#email(type='email', name='email', ng-model='user.email',required)
      .form-group
        label.animated.fadeIn(for='password') Password
        input.form-control.animated.fadeInLeft#password(type='password', name='password', ng-model='user.password', required, ng-minlength='3')
      .form-group
        label.animated.fadeIn(for='weight') Weight
        input.form-control.animated.fadeInRight#weight(type='number', name='weight', ng-model='user.weight', required)
      .form-group
        label.animated.fadeIn(for='height') Height
        input.form-control.animated.fadeInLeft#height(type='number', name='height', ng-model='user.height', required)
      .form-group
        label.animated.fadeIn(for='age') Age
        input.form-contro.animated.fadeInRight#age(type='number', name='age', ng-model='user.age', required, ng-minlength='2')
      button.btn.btn-primary.animated.flipInY(ng-show='userForm.$valid', ng-click='register()') Register
  .col-xs-9

