h3.animated.fadeInLeft Keep track of your calories
h4.animated.fadeInRight using PhatRunner

ul(ng-show='mean')
  li(ng-repeat='technology in mean') {{technology}}

img.animated.bounceInLeft(src='/assets/img/Athletics.png')

.row
  .col-xs-5
  .col-xs-2
    footer
      small (c)2014
        strong NSS
          em Cohort6
  .col-xs-5

